.row {
    float:left;
    overflow: visible;
}

.square {
    width: 10vh;
    height: 10vh;
    margin: 0;
    padding: 0;
}

.square:hover {
    box-shadow: inset 0 0 3px 3px #54a8f7;
}

.check {
    box-shadow: inset 0 0 3px 3px red;
}

.square img {
    width: 100%;
    height: 100%;
}

.white-square {
    background-color: #eae9d2;
}

.black-square {
    background-color: #4b7399;
}