body {
    font-family: 'Montserrat', sans-serif;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup div {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color:white;
    text-decoration: none;
}

#turn-heading {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding:8px;
    
}

.black-3c85d {
    background-color: #4b7399 !important;
}

.white-1e1d7 {
    background-color: #eae9d2 !important;
}

.white-1e1d7:hover, .black-3c85d:hover {
    box-shadow: inset 0 0 3px 3px #54a8f7;
}

.highlight1-32417, .highlight2-9c5d2 {
    box-shadow: inset 0 0 3px 3px #54a8f7;
}

button {
    padding:12px 20px;
    border:none;
    outline:none;
    background-color: #1c78dc;
    color:white;
    display: block;
    clear: both;
}

button:hover {
    background-color: #4a92de;
    cursor: pointer;
}
